@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Stack+Sans+Text:wght@200..700&display=swap');

:root {
    /*Bakground Colors*/
    --bg-color1: #5A3E2D;
    --bg-color2: #f4eddd;
    --bg-color3: #7e604e;

    /*Fonts Colors*/
    --font-primary: #171614;
    --font-secundary: #ede0d4;

    /*Other Colors*/
    --bg-button: #4a3426;

    /*Fonts Family*/
    --logo: Merienda;
    --title: Stack Sans Text; 
    --text: Open Sans;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1.8rem;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 10;

    background-color: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
    transition: background-color 0.3s;
}

header.scrolled {
    background-color: var(--bg-color1);
    border: none;
}

#logo {
    font-size: 1.65rem;
    font-weight: 500;
    color: var(--font-secundary);
    font-family: var(--logo);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#navlist {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

#navlist a {
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--font-secundary);
    font-family: var(--text);
}

#navbutton {
    font-size: 1.25rem;
    padding: 0.65rem 1rem;
    border-radius: 25px;
    background-color: var(--bg-button);
    color: var(--font-secundary);
    text-decoration: none;
}

.container {
    max-width: 1440px;   
    width: 100%;
    margin: 0 auto;      
    padding: 0 2rem;     
}

#hero {
    width: 100%;
    height: 48.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero-background {
    position: absolute;
    width: 100%;
    height: 48.5rem;
    overflow: hidden;
    z-index: -1;
}

#hero-background img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,  rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.55) 50%, rgba(0, 0, 0, 0.70) 100%);
    z-index: 1;
    height: 100%;
    width: 100%;
}

#hero .container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
    z-index: 2;
    color: var(--font-secundary);
}

#hero h1 {
    font-size: 4rem;
    font-family: var(--title);
}

#hero p {
    font-size: 1.25rem;
    font-family: var(--text);
}

#hero-btn {
    background-color: var(--bg-button);
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0.85rem 1.2rem;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--font-secundary);
    font-family: var(--text);
    margin-top: 15px;
}

#about {
    width: 100%;
    padding: 5rem 0;          
    background-color: var(--bg-color2);
}

#about .container {
    display: flex;
    align-items: center;
    gap: 3rem;
}

#about-text h2 {
    font-size: 2rem;
    font-family: var(--title);
}

#about-text {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    font-size: 1.15rem;
    text-align: justify;
    font-family: var(--text);
}

#about-img {
    width: 50%;
    height: 30rem;
    flex-shrink: 0;                           
    overflow: hidden;
}

#about-img img {
    width: 100%;
    height: 100%;      
    display: block;
    object-fit: cover;
}

#menu {
    width: 100%;
    padding: 2rem 0;
    background-color: var(--bg-color1);
    color: var(--font-secundary);
}

#menu .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-title {
    font-size: 2rem;
    font-family: var(--title);
}

#menu-desc {
    text-align: center;
    font-family: var(--text);
}

#menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1.5rem;
    gap: 1.5rem;
}

.menu-cards {
    display: flex;
    width: 22.5rem;
    height: 28.5rem;
    flex-direction: column;
    gap: 5px;
    border: 1px solid black;
    border-radius: 8px;
}

.menu-cards figure {
    width: 100%;
    height: 14.5rem;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 6px 6px 0 0;
}

.menu-cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title {
    font-size: 1.5rem;
    font-family: var(--title);
}

.card-description {
    text-align: left;
    font-size: 1rem;
    font-family: var(--text);
}

.card-title, .card-description{
    padding: 0 1rem;
    color: var(--font-secundary);
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    font-family: var(--text);
    color: var(--font-secundary);
}

.card-price {
    font-size: 1.25rem;
    font-family: var(--title);
}

.card-order {
    font-size: 1.15rem;
    padding: 0.50rem 1rem;
    border: none;
    border-radius: 25px;
    background-color: var(--bg-button);
    color: var(--font-secundary);
    text-decoration: none;
}